<!DOCTYPE html>
<html>
<head>
<title>Add Hospital</title>
</head>

<body>

<h2>Add Hospital</h2>

<form method="POST">

Hospital Name:
<input type="text" name="hospital_name" required>
<br><br>

City:
<input type="text" name="city" value="Bangalore">
<br><br>

Address:
<input type="text" name="address">
<br><br>

ICU Beds:
<input type="number" name="icu_beds">
<br><br>

Oxygen Beds:
<input type="number" name="oxygen_beds">
<br><br>

Normal Beds:
<input type="number" name="normal_beds">
<br><br>

<button type="submit">Add Hospital</button>

</form>

</body>
</html>