{% extends "base.html" %}

{% block content %}

<div style="
    width:500px;
    margin:40px auto;
    background:white;
    padding:30px;
    border-radius:10px;
    box-shadow:0px 0px 10px gray;
">

    <h2 style="color:green; text-align:center;">
        Payment Successful ✅
    </h2>

    <hr>

    <p>
        <b>Transaction ID:</b>
        {{ booking.transaction_id }}
    </p>

    <p>
        <b>Payment Method:</b>
        {{ booking.payment_method }}
    </p>

    <p>
        <b>Amount Paid:</b>
        ₹{{ booking.payment_amount }}
    </p>

    <p>
        <b>Patient Name:</b>
        {{ booking.patient_name }}
    </p>

    <p>
        <b>Hospital:</b>
        {{ booking.hospital.hospital_name }}
    </p>

    <p>
        <b>Bed Type:</b>
        {{ booking.bed_type }}
    </p>

    <p>
        <b>Status:</b>
        {{ booking.status }}
    </p>

    <br>

    <div style="text-align:center;">

        <a href="/patient_dashboard"
           style="
                background:#007bff;
                color:white;
                padding:10px 20px;
                text-decoration:none;
                border-radius:5px;
           ">
           Go To Dashboard
        </a>
        
        <br><br>

        <a href="/download_receipt/{{ booking.id }}"
        style="
                background:green;
                color:white;
                padding:10px 20px;
                text-decoration:none;
                border-radius:5px;
                display:inline-block;
                margin-top:15px;
        ">

            Download Receipt PDF

        </a>
    </div>

</div>

{% endblock %}