<!DOCTYPE html>
<html>
<head>
    <title>Staff Dashboard</title>
    <style>
        body {
            font-family: Arial;
            background: #f4f6f7;
text-align:center;
}

.header{
background:#16a085;
color:white;
padding:20px;
}

.container{
margin-top:40px;
}

.card{
display:inline-block;
background:white;
padding:20px;
margin:15px;
width:220px;
border-radius:8px;
box-shadow:0px 4px 10px rgba(0,0,0,0.1);
}

a{
text-decoration:none;
font-size:16px;
color:#2c3e50;
}

.card:hover{
background:#ecf0f1;
}

</style>
</head>
<body>
    <div class="header">
    <h1>Staff Dashboard</h1>
    <p>Manage Hospital Beds</p>
    </div>

    <div class="container">
        
    <div class="card">
    <a href="/hospitals">View Hospitals</a>
    </div>

    <div class="card">
    <a href="/view_bookings">View Bookings</a>
    </div>

    <div class="card">
    <a href="/logout">Logout</a>
    </div>
    </div>
</body>
</html>